@{
    Layout = "_Layout";
    ViewData["Title"] = "Çiçek Torbaları - AS Plastik";
    ViewData["Description"] = "Çiçekleriniz için estetik ve çevre dostu torbalar.";
    ViewData["Keywords"] = "çiçek torbaları, ambalaj";
}

<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url('../Content/images/slide/master-slides-03.webp');">
    <h2 class="tit6 t-center">
        ÇİÇEK TORBALARI
    </h2>
</section>

<section>
    <div class="bread-crumb bo5-b p-t-17 p-b-17">
        <div class="container">
            <span class="txt29">ÜRÜN DETAY</span>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="p-t-80 p-b-124 bo5-r p-r-50 h-full p-r-0-md bo-none-md">
                    <div class="blo4 p-b-63">
                        <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
                            <img src="../Content/images/urun-resim/cicek-torbalari.png" alt="Çiçek Torbaları">
                        </div>

                        <div class="text-blo4 p-t-33">
                            <h4 class="p-b-16 tit9">Estetik ve Dayanıklı Çiçek Ambalajı</h4>
                            <p>
                                Çiçek torbalarımız hem estetik hem de dayanıklı yapısıyla çiçeklerinizi güvenle taşımanızı sağlar. Çevre dostu malzemelerden üretilmiştir.
                            </p>
                            <p>
                                <b>Özellikler:</b>
                                <ul>
                                    <li>Estetik tasarım</li>
                                    <li>Çevre dostu malzeme</li>
                                    <li>Dayanıklılık</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-lg-3">
                <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">

                    <div class="popular">
                        <h4 class="txt33 p-b-35 p-t-58">
                            ÜRÜNLER
                        </h4>

                        <ul>

                            <li class="flex-w m-b-12">
                                <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
                                    <a href="/tr/otomatik-paketleme-rulolari">
                                        <img src="../Content/images/icons/otomatik-paketleme-ruulosu.png" alt="IMG-BLOG">
                                    </a>
                                </div>
                                <div class="size28 d-flex ">
                                    <a href="/tr/otomatik-paketleme-rulolari"  class="dis-block txt28 ">
                                        OTOMATİK PAKETLEME RULOLARI
                                    </a>
                                </div>
                            </li>

                            <li class="flex-w m-b-12">
                                <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
                                    <a href="/tr/mikro-delikli-ambalaj">
                                        <img src="../Content/images/icons/MIKRO-DELIKLI-AMBALAJ.png" alt="IMG-BLOG">
                                    </a>
                                </div>
                                <div class="size28 d-flex ">
                                    <a href="/tr/mikro-delikli-ambalaj" class="dis-block txt28 ">

                                        MİKRO DELİKLİ AMBALAJ
                                    </a>
                                </div>
                            </li>

                            <li class="flex-w m-b-12">
                                <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
                                    <a href="/tr/sebze-meyve-torbalari">
                                        <img src="../Content/images/icons/SEBZE-VE-MEYVE-TORBALARI.png" alt="IMG-BLOG">
                                    </a>
                                </div>
                                <div class="size28 d-flex ">
                                    <a href="/tr/sebze-meyve-torbalari" class="dis-block txt28 ">
                                        SEBZE - MEYVE TORBALARI
                                    </a>
                                </div>
                            </li>

                            <li class="flex-w m-b-12">
                                <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
                                    <a href="/tr/cicek-torbalari">
                                        <img src="../Content/images/icons/CICEK-TORBALARI.png" alt="IMG-BLOG">
                                    </a>
                                </div>
                                <div class="size28 d-flex ">
                                    <a href="/tr/cicek-torbalari" class="dis-block txt28 ">
                                        ÇİÇEK TORBALARI
                                    </a>
                                </div>
                            </li>

                            <li class="flex-w m-b-12">
                                <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
                                    <a href="/tr/kagit-cicek-torbalari">
                                        <img src="../Content/images/icons/KAGIT-CICEK-TORBALARI.png" alt="IMG-BLOG">
                                    </a>
                                </div>
                                <div class="size28 d-flex ">
                                    <a href="/tr/kagit-cicek-torbalari" class="dis-block txt28 ">
                                        KAĞIT ÇİÇEK TORBALARI
                                    </a>
                                </div>
                            </li>

                            <li class="flex-w m-b-12">
                                <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
                                    <a href="/tr/ekmek-torbalari">
                                        <img src="../Content/images/icons/EKMEK-TORBALARI.png" alt="IMG-BLOG">
                                    </a>
                                </div>
                                <div class="size28 d-flex ">
                                    <a href="/tr/ekmek-torbalari" class="dis-block txt28 ">
                                        EKMEK TORBALARI
                                    </a>
                                </div>
                            </li>

                            <li class="flex-w m-b-12">
                                <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
                                    <a href="/tr/kasa-foyleri">
                                        <img src="../Content/images/icons/KASA-FOYLERI.png" alt="IMG-BLOG">
                                    </a>
                                </div>
                                <div class="size28 d-flex ">
                                    <a href="/tr/kasa-foyleri" class="dis-block txt28 ">
                                        KASA FÖYLERİ
                                    </a>
                                </div>
                            </li>

                            <li class="flex-w m-b-12">
                                <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
                                    <a href="/tr/kargo-torbalari">
                                        <img src="../Content/images/icons/KARGO-TORBALARI.png" alt="IMG-BLOG">
                                    </a>
                                </div>
                                <div class="size28 d-flex ">
                                    <a href="/tr/kargo-torbalari" class="dis-block txt28 ">
                                        KARGO TORBALARI
                                    </a>
                                </div>
                            </li>

                            <li class="flex-w m-b-12">
                                <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
                                    <a href="/tr/petek-koruyuculu-kargo-torbalari">
                                        <img src="../Content/images/icons/PETEK-KORUYUCU-KARGO-TORBALARI.png" alt="IMG-BLOG">
                                    </a>
                                </div>
                                <div class="size28 d-flex ">
                                    <a href="/tr/petek-koruyuculu-kargo-torbalari" class="dis-block txt28 ">
                                        PETEK KORUYUCULU KARGO TORBALARI
                                    </a>
                                </div>
                            </li>

                            <li class="flex-w m-b-12">
                                <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
                                    <a href="/tr/tekstil-torbalari">
                                        <img src="../Content/images/icons/TEKSTIL-TORBALARI.png" alt="IMG-BLOG">
                                    </a>
                                </div>
                                <div class="size28 d-flex ">
                                    <a href="/tr/tekstil-torbalari" class="dis-block txt28 ">
                                        TEKSTİL TORBALARI
                                    </a>
                                </div>
                            </li>

                            <li class="flex-w m-b-12">
                                <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
                                    <a href="/tr/cop-torbalari">
                                        <img src="../Content/images/icons/COP-TORBALARI.png" alt="IMG-BLOG">
                                    </a>
                                </div>
                                <div class="size28 d-flex ">
                                    <a href="/tr/cop-torbalari" class="dis-block txt28 ">
                                        ÇÖP TORBALARI
                                    </a>
                                </div>
                            </li>

                            <li class="flex-w m-b-12">
                                <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
                                    <a href="/tr/guvenlik-torbalari">
                                        <img src="../Content/images/icons/GUVENLIK-TORBALARI.png" alt="IMG-BLOG">
                                    </a>
                                </div>
                                <div class="size28 d-flex ">
                                    <a href="/tr/guvenlik-torbalari" class="dis-block txt28 ">
                                        GÜVENLİK TORBALAR
                                    </a>
                                </div>
                            </li>

                            <li class="flex-w m-b-12">
                                <div class="size16 bo-rad-10 wrap-pic-w of-hidden m-r-18">
                                    <a href="/tr/pe-shrink-film">
                                        <img src="../Content/images/icons/PE-SHRINK-FILM.png" alt="IMG-BLOG">
                                    </a>
                                </div>
                                <div class="size28 d-flex ">
                                    <a href="/tr/pe-shrink-film" class="dis-block txt28 ">
                                        PE SHRINK FILM
                                    </a>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
