@{
    ViewBag.Title = "Ana Sayfa";
        Layout = "_Layout";
}




<section class="section-slide">
	<div class="wrap-slick1">
		<div class="slick1">
			<div class="item-slick1 item1-slick1" style="background-image: url('../Content/images/slide/master-slides-01.webp');">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-60 p-r-60 p-t-150 p-b-170">


					<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
						Kendi Zevkinize Göre Tasarlayın İstediğiniz Yerde Konaklayın
					</h2>
				</div>
			</div>

			<div class="item-slick1 item2-slick1" style="background-image: url('../Content/images/slide/master-slides-02.webp');">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">


					<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
						Ekonomik, Çevre Dostu ve Özgür Bir Yaşam Seçeneği
					</h2>


				</div>
			</div>

			<div class="item-slick1 item3-slick1" style="background-image: url('../Content/images/slide/slide1-01.webp');">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">

					<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
						Küçük Evlerde Büyük Hayaller Gerçekleştirin
					</h2>
				</div>
			</div>

		</div>

		<div class="wrap-slick1-dots"></div>
	</div>
</section>
<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15" id="bizkimiz">
	 

	<h3 class="tit3 t-center m-b-35 m-t-5">
		BİZ KİMİZ?
	</h3>

	<p class="t-center size32 m-l-r-auto">
		Casalia Tiny Houses olarak, Tiny House dünyasında lüks, modern ve kişiselleştirilebilir konseptlerle tanışmanın heyecanını size sunuyoruz. Sadece bir ev değil, hayalinizdeki yaşam alanını yaratmak ve size benzersiz bir deneyim sunmaktan mutluluk duyuyoruz. Kalite standartlarımızı sürekli olarak yükselterek, çevresel etkiyi en aza indirerek, gelecek nesillere temiz bir çevre bırakma sorumluluğumuzun bilinciyle hareket ediyoruz. İnovasyon, kalite ve sürdürülebilirlik ilkeleriyle şekillenen bir geleceğe öncülük etmek için sürekli olarak çalışıyoruz. Her bir projemiz, estetik, fonksiyonellik ve çevresel sorumluluk arasında dengeli bir deneyim sunmayı hedefler.
	</p>
</section>


<!-- Video -->
<section class="section-video parallax100" style="background-image: url('../Content/images/header-menu-01.webp');">
	<div class="content-video t-center p-t-225 p-b-250">
		 
		<p class="m-b-20 tit2" style="color:orangered" id="tanitimvideo">
			Tanıtım Videomuzu
		</p>
		<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
				İZLEMEYİ UNUTMAYIN
		</h3>

		<div class="btn-play ab-center size16 hov-pointer m-l-r-auto m-t-43 m-b-33" data-toggle="modal" data-target="#modal-video-01">
			<div class="flex-c-m sizefull bo-cir bgwhite color1 hov1 trans-0-4">
				<i class="fa fa-play fs-18 m-l-2" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</section>




<!-- Lunch -->
<section class="section-lunch bgwhite" id="hizmetlerimiz">
	 
	<div class="container">
		<div class="row p-t-108 p-b-70">

			<div class="col-md-3 blo-3 m-b-15">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom-icon m-r-28">
					<a href="#"><img src="../Content/images/icons/enerji-tasarruf.svg" alt="IMG-MENU"></a>
					</div>

				<div class="text-blo3 size12 flex-col-l-m">
						<a href="#" class="txt21 m-b-3">
						Enerji Tasarrufu
						</a>

						 
					</div>
				</div>

				<!-- Block3 -->
			<div class="col-md-3 blo-3 m-b-15">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom-icon m-r-28">
					<a href="#"><img src="../Content/images/icons/mobil-yasam.svg" alt="IMG-MENU"></a>
					</div>

					<div class="text-blo3 size12 flex-col-l-m">
						<a href="#" class="txt21 m-b-3">
						Mobil Yaşam
						</a>

					 
					</div>
				</div>

			<div class="col-md-3 blo-3 m-b-15">
					<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom-icon m-r-28">
					<a href="#"><img src="../Content/images/icons/cevre-dostu.svg" alt="IMG-MENU"></a>
					</div>

				<div class="text-blo3 size12 flex-col-l-m">
						<a href="#" class="txt21 m-b-3">
						Çevre Dostu
						</a>
 
					</div>
				</div>

			<div class="col-md-3 blo-3 m-b-15">
				<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom-icon m-r-28">
					<a href="#"><img src="../Content/images/icons/kisisel-tasarim.svg" alt="IMG-MENU"></a>
				</div>

				<div class="text-blo3 size12 flex-col-l-m">
					<a href="#" class="txt21 m-b-3">
						Kişiselleştirilebilir Tasarım
					</a> 
				</div>
			</div>
 
		</div>
	</div>
</section>





<section class="section-event" id="nedenbiz">
	<div class="wrap-slick2">
		<div class="slick2">
			<div class="item-slick2 item1-slick2" style="background-image: url('../Content/images/bg-event-01.webp');">
				<div class="wrap-content-slide2 p-t-115 p-b-208">
					<div class="container">
						<!-- - -->
						<div class="title-event t-center m-b-52"> 
							<h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
								Neden Biz?
							</h3>
						</div>

						<!-- Block2 -->
						<div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="zoomIn">
							<!-- Pic block2 -->
							<a href="#" class="wrap-pic-blo2 bg1-blo2" style="background-image: url('../Content/images/event-02.webp');">
								<div class="time-event size10 txt6 effect1">
									 
								</div>
							</a>

							<!-- Text block2 -->
							<div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
								<h4 class="tit7 t-center m-b-10">
									Doğayla İç İçe, Özgür ve Konforlu Bir Yaşam
								</h4>

								<p class="t-center">
									Size doğayla iç içe, küçük alanlarda evinizin konforunu sunmayı amaçlıyoruz. Birbirinden güzel iç tasarımlar, yenilikçi modelleri ile, minimal alanları en kullanışlı şekilde planlayarak evinizi sadeleştiriyoruz. Sadece yaz tatillerinde değil, yoğun iş temposu sonrasında, aileniz ile güzel bir hafta sonu geçirmek istediğinizde size villa yaşamını sadeleştirerek sunar. 
								</p>

							 
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick2 item2-slick2" style="background-image: url('../Content/images/bg-event-01.webp');">
				<div class="wrap-content-slide2 p-t-115 p-b-208">
					<div class="container">
						<!-- - -->
						<div class="title-event t-center m-b-52">
							<h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
								Neden Biz?
							</h3>
						</div>

						<!-- Block2 -->
						<div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="zoomIn">
							<!-- Pic block2 -->
							<a href="#" class="wrap-pic-blo2 bg2-blo2" style="background-image: url('../Content/images/event-06.webp');">
								<div class="time-event size10 txt6 effect1">
									<span class="txt-effect1 flex-c-m">
										 
									</span>
								</div>
							</a>

							<!-- Text block2 -->
							<div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
								<h4 class="tit7 t-center m-b-10">
									Mobil, Ekonomik ve Sürdürülebilir Evler
								</h4>

								<p class="t-center">
									Özgürlüğünüzü kısıtlamayan, bütçenize uygun ve doğayla uyumlu evler sunuyoruz. Tekerlekli modelleri ile dört mevsimi bir arada yaşama ayrıcalığı, Türkiye’nin doğal güzelliklerini doya doya deneyimlemeniz için eşsiz bir fırsat yaratır. Casalia Tiny Houses ile sınırsız bir yaşamın kapılarını aralayın.
								</p>

							 
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick2 item3-slick2" style="background-image: url('../Content/images/bg-event-01.webp');">
				<div class="wrap-content-slide2 p-t-115 p-b-208">
					<div class="container">
						<!-- - -->
						<div class="title-event t-center m-b-52">
							<h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
								Neden Biz?
							</h3>
						</div>

						<!-- Block2 -->
						<div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="zoomIn">
							<!-- Pic block2 -->
							<a href="#" class="wrap-pic-blo2 bg3-blo2" style="background-image: url('../Content/images/event-01.webp');">
								<div class="time-event size10 txt6 effect1">
									<span class="txt-effect1 flex-c-m">
										 
									</span>
								</div>
							</a>

							<!-- Text block2 -->
							<div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
								<h4 class="tit7 t-center m-b-10">
									Kaliteli, Güvenli ve Garantili Evler
								</h4>

								<p class="t-center">
									Küçük bir evde kocaman hayalleriyle yaşamak isteyenlere özel, harika tekerlekli mobil evler üretiyoruz. Casalia Tiny Houses yaratıcı, özgür ve yenilikçi tasarımlarıyla sektörde fark yaratır. Alanında uzman mühendislerin kontrolünde usta mimarlar tarafından tasarlanır. Casalia Tiny Houses ile hayallerinizdeki Tiny House planını birlikte tasarlayalım.
								</p>

								 
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="wrap-slick2-dots"></div>
	</div>
</section>
 



<section class="section-ourmenu bg2-pattern p-t-115 p-b-120" id="modellerimiz">
	<div class="container">
		<div class="title-section-ourmenu t-center m-b-22">
			<span class="tit2 t-center">

			</span>

			<h3 class="tit5 t-center m-t-2">
				Modellerimiz
			</h3>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="row">

					<div class="col-sm-6">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-01.webp" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="~/Tr/TinyHouseDetay" class="btn2 flex-c-m txt5 ab-c-m size4">
								Darla
							</a>
						</div>
					</div>

					<div class="col-sm-6">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-05.webp" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size5 invisible">

							</a>
						</div>
					</div>

					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-13.webp" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size6 invisible">

							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-08.webp" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size7 invisible">

							</a>
						</div>
					</div>

					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-10.webp" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size8 invisible">

							</a>
						</div>
					</div>

					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-16.webp" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size9 invisible">

							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>