@{

    Layout = "_Layout";
}

<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url('../Content/images/model-detay-banner.webp');">
	<h2 class="tit6 t-center">
		DARLA
	</h2>
</section>



<section>
	<div class="container">
			<div class="row ">
				<div class="col-md-12 col-lg-12">
					<div class="p-t-80 p-b-124 p-r-50 h-full">
						<!-- Block4 -->
						<div class="blo4 p-b-63">
							<!-- - -->
							<div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
								 
									<img src="../Content/images/blog-05.webp" alt="IMG-BLOG">
							 
							</div>

							<!-- - -->
							<div class="text-blo4 p-t-33">
							<h4 class="p-b-16 tit9">
									 Darla Tiny House Özellikler 
								</h4>
							<div id="accordion">
								<div class="card">
									<div class="card-header" id="headingOne">
										<h5 class="mb-0">
											<button class="btn p-b-16 tit7" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												- ŞASE																																		
											</button>
										</h5>
									</div>

									<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
										<div class="card-body">
											4 mm GÜÇLENDİRİLMİŞ GALVENİZ BÜKÜM PROFİL
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingTwo">
										<h5 class="mb-0" style="overflow: auto;">
											<button class="btn p-b-16 tit7 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												TORSİYONLU TEKERLEK SİSTEMİ
											</button>
										</h5>
									</div>
									<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
										<div class="card-body">
											<ul>
												<li>
													4 AD, ANA ŞASE YE BAĞLI KRİKO
												</li>
												<li>
													1 mm GALVENİZ LEVHA TABAN SAC KAPLAMA
												</li>
												<li>
													80 mm TAŞYÜNÜ
												</li>
												<li>
													PARK EL FRENİ
												</li>
												<li>
													ŞASEYE BAĞLI STOP VE SİNYAL ÜNİTELER
												</li>
											</ul> 
										 </div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingThree">
										<h5 class="mb-0">
											<button class="btn p-b-16 tit7 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												ÇATI
											</button>
										</h5>
									</div>
									<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
										<div class="card-body">
											<ul>
												<li>
													OSB / HUŞ MARİN KONTRA ÇATI KAPLAMA
												</li>
												<li>
													MEMBRAN
												</li>
												<li>
													KENET ÇATI KAPLAMASI
												</li>
												<li>
													ALÜMİNYUM KOMPOZİT LEVHA İLE HARPUŞTA VE GİZLİ YAĞMUR DERESİ
												</li>
											 
											</ul>

										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingFour">
										<h5 class="mb-0">
											<button class="btn p-b-16 tit7 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
												DIŞ CEPHE
											</button>
										</h5>
									</div>
									<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
										<div class="card-body">
											<ul>
												<li>
													90 mm ROLL-FORM MAKİNA C PROFİL ANA TAŞIYICI KARKAS
												</li>
												<li>
													60 mm ROLL-FORM MAKİNA C PROFİL TAŞIYICI KARKAS
												</li>
												<li>
													9 mm HUŞ MARİN KONTRA KAPLAMA
												</li>
												<li>
													TYVEK NEM BARİYER ÖRTÜSÜ
												</li>
												<li>
													3 mm / 4 mm ALÜMİNYUM KOMPOAZİT LEVHA KAPLAMA
												</li>
												<li>
													FIRINLANMIŞ ÇAM LAMBRİ
												</li>

											</ul>

										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingFive">
										<h5 class="mb-0">
											<button class="btn p-b-16 tit7 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
												İÇ CEPHE
											</button>
										</h5>
									</div>
									<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
										<div class="card-body">
											<ul>
												<li>
													80 mm MİNERAL TAŞYÜNÜ
												</li>
												<li>
													9 mm HUŞ MARİN KONTRA KAPLAMA
												</li>
												<li>
													İSTEĞE BAĞLI SU BAZLI BOYA / VERNİK
												</li>
												<li>
													8 mm +( 2 mm ŞİLTE) DERZLİ LAMİNAT PARKE
												</li> 

											</ul>

										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingSix">
										<h5 class="mb-0">
											<button class="btn p-b-16 tit7 collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
												ISLAK HACİM
											</button>
										</h5>
									</div>
									<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
										<div class="card-body">
											<ul>
												<li>
													80 mm MİNERAL TAŞYÜNÜ
												</li>
												<li>
													ZEMİN BETOPAN – DUVAR BOARDEX
												</li>
												<li>
													İSTEĞE BAĞLI SERAMİK / PANEL KAPLAMA
												</li>  
											</ul>

										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header" id="headingSeven">
										<h5 class="mb-0">
											<button class="btn p-b-16 tit7 collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
												SABİT MOBİLYA
											</button>
										</h5>
									</div>
									<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
										<div class="card-body">
											<ul>
												<li>
													SABİT DOLAPLAR VE MERDİVEN 18 mm MDF LAM
												</li>
												<li>
													MERDİVEN 30 mm İSTEĞE BAĞLI MASİF ÇAM / LADİN BASAMAK KAPLAMA
												</li>
												<li>
													MUTFAK TEZGAH 30 mm İSTEĞE BAĞLI MASİF / PANEL
												</li>
											</ul>

										</div>
									</div>
								</div>
							</div> 
							</div>
						</div>
						

						<!-- Leave a comment -->
					</div>
					
				</div>
			</div>
			<div class="section-gallery p-t-118 p-b-100">
	

				<div class="wrap-gallery isotope-grid flex-w">
					<!-- - -->
					<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events guests">
					<img src="../Content/images/tinyhouse-1.webp" alt="IMG-GALLERY">
		
						<div class="overlay-item-gallery trans-0-4 flex-c-m">
						<a class="btn-show-gallery flex-c-m fa fa-search" href="../Content/images/tinyhouse-1.webp" data-lightbox="gallery"></a>
						</div>
					</div>
		
					<!-- - -->
					<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom food">
					<img src="../Content/images/tinyhouse-2.webp" alt="IMG-GALLERY">
		
						<div class="overlay-item-gallery trans-0-4 flex-c-m">
						<a class="btn-show-gallery flex-c-m fa fa-search" href="../Content/images/tinyhouse-2.webp" data-lightbox="gallery"></a>
						</div>
					</div>
		
					<!-- - -->
					<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events">
					<img src="../Content/images/tinyhouse-3.webp" alt="IMG-GALLERY">
		
						<div class="overlay-item-gallery trans-0-4 flex-c-m">
						<a class="btn-show-gallery flex-c-m fa fa-search" href="../Content/images/tinyhouse-3.webp" data-lightbox="gallery"></a>
						</div>
					</div>
		
					<!-- - -->
					<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom food">
					<img src="../Content/images/tinyhouse-4.webp" alt="IMG-GALLERY">
		
						<div class="overlay-item-gallery trans-0-4 flex-c-m">
						<a class="btn-show-gallery flex-c-m fa fa-search" href="../Content/images/v" data-lightbox="gallery"></a>
						</div>
					</div>
		
					<!-- - -->
					<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom food">
					<img src="../Content/images/tinyhouse-5.webp" alt="IMG-GALLERY">
		
						<div class="overlay-item-gallery trans-0-4 flex-c-m">
						<a class="btn-show-gallery flex-c-m fa fa-search" href="../Content/images/tinyhouse-5.webp" data-lightbox="gallery"></a>
						</div>
					</div>
		
					<!-- - -->
					<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom interior guests">
					<img src="../Content/images/tinyhouse-6.webp" alt="IMG-GALLERY">
		
						<div class="overlay-item-gallery trans-0-4 flex-c-m">
						<a class="btn-show-gallery flex-c-m fa fa-search" href="../Content/images/tinyhouse-6.webp" data-lightbox="gallery"></a>
						</div>
					</div>
				</div>
			</div>
		
		</div>
</section>




<section class="section-ourmenu bg2-pattern p-t-115 p-b-120" id="galeri">
	<div class="container">
		 

		<div class="row">
		 
			 
					  

					 
						<!-- Item our menu -->
					<div class="model-view-css-fix">
				<model-viewer id="model-viewer" src="../Content/model/darla7.glb" ar ar-modes="scene-viewer webxr" camera-controls touch-action="pan-y" alt="A 3D model of an astronaut"   skybox-image="https://modelviewer.dev/shared-assets/environments/spruit_sunrise_1k_HDR.jpg" exposure="2"   ios-src="../Content/model/darla7.usdz" xr-environment>
								<div id="error" class="hide">AR is not supported on this device</div>
							</model-viewer>
							<script>
								document.querySelector("#model-viewer").addEventListener('ar-status', (event) => {
									if (event.detail.status === 'failed') {
										const error = document.querySelector("#error");
										error.classList.remove('hide');
										error.addEventListener('transitionend', (event) => {
											error.classList.add('hide');
										});
									}
								});
							</script>
							<style>
								#error {
									background-color: #ffffffdd;
									border-radius: 16px;
									padding: 16px;
									position: absolute;
									left: 50%;
									top: 50%;
									transform: translate3d(-50%, -50%, 0);
									transition: opacity 0.3s;
								}

									#error.hide {
										opacity: 0;
										visibility: hidden;
										transition: visibility 2s, opacity 1s 1s;
									}
							</style>

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size6 invisible">

							</a>
						</div>
				 
				</div>
		 
	  

	</div>
</section>