<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-9">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1254">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <meta http-equiv="Cache-Control" content="public, max-age=86400">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
    
    </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="canonical" href="">
    <meta name="author" content="">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="~/Content/images/thumbnail.jpg">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta property="og:locale" content="tr"> 
    <link rel="alternate" hreflang="tr_TR" href="" /> 
    <link rel="icon" type="image/png" href="../Content/images/icons/favicon.png" />
  
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
  
    <link rel="stylesheet" type="text/css" href="../Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  
    <link rel="stylesheet" type="text/css" href="../Content/fonts/themify/themify-icons.css">
  
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animate/animate.css">
  
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/css-hamburgers/hamburgers.min.css">
  
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/animsition/css/animsition.min.css">
  
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/select2/select2.min.css">
  
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/daterangepicker/daterangepicker.css">
  
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/slick/slick.css">
  
    <link rel="stylesheet" type="text/css" href="~/Content/vendor/lightbox2/css/lightbox.min.css">
  
    <link rel="stylesheet" type="text/css" href="~/Content/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css">
    
     
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<script data-schema="organization" type="application/ld+json">
			@Html.Raw("{ \"@context\": \"https://schema.org\", \"@type\": \"Organization\", \"name\": \"\", \"brand\": \"\", \"alternateName\": \"\", \"memberOf\": { \"@type\": \"Organization\", \"name\": \"\" }, \"description\": \"\", \"url\": \"\", \"slogan\": \"\", \"email\": \"\", \"logo\": \"\" }")
		</script>
	<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.0.1/model-viewer.min.js"></script>
</head>

<body class="animsition">

	<!-- Header -->
	<header>
		<!-- Header desktop -->
		<div class="wrap-menu-header gradient1 trans-0-4">
			<div class="container h-full">
				<div class="wrap_header trans-0-3">
					<!-- Logo -->
					<div class="logo">
						<a href="~/TR/index">
							<img src="../Content/images/icons/logo.svg" alt="IMG-LOGO" data-logofixed="../Content/images/icons/logo2.svg">
						</a>
					</div>

					<!-- Menu -->
					<div class="wrap_menu p-l-45 p-l-0-xl">
						<nav class="menu">
							<ul class="main_menu">
								 
								<li>
									<a href="#hakkimizda" onclick="navigateToSection('index#hakkimizda')">Biz Kimiz</a>
								</li>
								<li>

									<a href="#urunler" onclick="navigateToSection('index#urunler')">Ürünler</a>
								</li>
								<li>
									<a href="#nedenbiz" onclick="navigateToSection('index#nedenbiz')">Neden Biz</a>
								</li>
								 
								<li>
									<a href="#iletisim" onclick="navigateToSection('index#iletisim')">İletişim</a>
								</li>
							</ul>
						</nav>
					</div>

					<!-- Social -->
					<div class="social d-block p-r-20">
						@* <a href="https://www.instagram.com/casaliatinyhouses/?hl=tr" class="d-inline-block"><i class="fa fa-instagram" aria-hidden="true"></i></a> *@
						<a href="tel:+905326818684" class="d-inline-block"><i class="fa fa-phone m-l-21" aria-hidden="true"></i></a>
						<a href="tel:+905321384646" class="d-inline-block">
							<span class="d-none d-md-block">	+90 532 138 46 46</span>
						</a>
						<button class="btn-show-sidebar m-l-33 trans-0-4 d-inline-block d-md-none"></button>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Sidebar -->
	<aside class="sidebar trans-0-4">
		<!-- Button Hide sidebar -->
		<button class="btn-hide-sidebar ti-close color0-hov trans-0-4"></button>

		<!-- - -->
		<ul class="menu-sidebar p-t-95 p-b-70">
			<li class="t-center m-b-13">
				<a href="#hakkimizda">Hakkımızda</a>
			</li>
			<li class="t-center m-b-13">
				<a href="#urunler">Ürünler</a>
			</li>
			 
			<li class="t-center m-b-13">
				<a href="#nedenbiz">Neden Biz</a>
			</li>
			 
			<li class="t-center m-b-13">
				<a href="#iletisim">İletişim</a>
			</li>
		</ul>

		<!-- - -->
	 
	</aside>


	@RenderBody()

	<!-- Sign up -->
	 
	<!-- Footer -->
	<footer class="bg1">
		<div class="container p-t-40 p-b-70">
			<div class="row">
				<div class="col-sm-6 col-md-4 p-t-50" id="iletisim">
					<!-- - -->
					<h4 class="txt13 m-b-33">
						İLETİŞİM
					</h4>

					<ul class="m-b-70">
						<li class="txt14 m-b-14">
							<a href="https://maps.google.com/maps?hl=tr&gl=tr&um=1&ie=UTF-8&fb=1&sa=X&ftid=0x1531e329461f78d1:0x86b4c82e573276be" target="_blank">
							<i class="fa fa-map-marker fs-16 dis-inline-block size19" aria-hidden="true"></i>
								Adres: Kavaklı Mh. Sokullu Cd. D1 Blok No:9/8, Daire No:53, Mostpack, Beylikdüzü/İSTANBUL
							</a>
						</li>

						<li class="txt14 m-b-14">
							<a href="tel:+905321384646">
							<i class="fa fa-phone fs-16 dis-inline-block size19" aria-hidden="true"></i>
								Telefon No: +90 532 138 46 46
							</a>
						</li>

						<li class="txt14 m-b-14">
							<a href="mailto:info@mostpack.com.tr">
							<i class="fa fa-envelope fs-13 dis-inline-block size19" aria-hidden="true"></i>
								Mail: info@mostpack.com.tr
							</a>
						</li>
					</ul>

				 
				</div>
 

			 
			</div>
		</div>

		 
	</footer>
	 
	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection1 -->
	<div id="dropDownSelect1"></div>
	 
	<script>

		function navigateToSection(fragment) {
			// Sayfa başlangıç URL'si
			var baseUrl = window.location.origin + "/Tr";

			// Yönlendirme işlemi
			window.location.href = baseUrl + '/' + fragment;
		}
	</script>

    <script type="text/javascript" src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
  
    <script type="text/javascript" src="~/Content/vendor/animsition/js/animsition.min.js"></script>
  
    <script type="text/javascript" src="~/Content/vendor/bootstrap/js/popper.js"></script>
    <script type="text/javascript" src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
  
    <script type="text/javascript" src="~/Content/vendor/select2/select2.min.js"></script>
  
    <script type="text/javascript" src="~/Content/vendor/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/vendor/daterangepicker/daterangepicker.js"></script>
  
    <script type="text/javascript" src="~/Content/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="../Content/js/slick-custom.js"></script>
  
    <script type="text/javascript" src="~/Content/vendor/parallax100/parallax100.js"></script>
    <script type="text/javascript">
        $('.parallax100').parallax100();
    </script>
  
    <script type="text/javascript" src="~/Content/vendor/countdowntime/countdowntime.js"></script>
   
	<script type="text/javascript" src="~/Content/vendor/lightbox2/js/lightbox.min.js"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="~/Content/vendor/isotope/isotope.pkgd.min.js"></script>
  
    <script type="text/javascript" src="../Content/js/main.js"></script>
</body>
</html>
