@{ 
    Layout = "_Layouten"; 
}



<section class="section-slide">
	<div class="wrap-slick1">
		<div class="slick1">

			<div class="item-slick1 item1-slick1" style="background-image: url('../Content/images/slide/master-slides-01.webp');">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-60 p-r-60 p-t-150 p-b-170"> 
					<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
						Design According to Your Own Taste, Stay Wherever You Desire
					</h2>
				</div>
			</div>

			<div class="item-slick1 item2-slick1" style="background-image: url('../Content/images/slide/master-slides-02.webp');">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170"> 
					<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
						An Economical, Eco-Friendly, and Liberated Lifestyle Choice
					</h2> 
				</div>
			</div>

			<div class="item-slick1 item3-slick1" style="background-image: url('../Content/images/slide/slide1-01.webp');">
				<div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170"> 
					<h2 class="caption2-slide1 tit1 t-center animated visible-false m-b-37" data-appear="fadeInUp">
						Realize Big Dreams in Tiny Houses
					</h2>
				</div>
			</div>

		</div>

		<div class="wrap-slick1-dots"></div>
	</div>
</section>
<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">


	<h3 class="tit3 t-center m-b-35 m-t-5">
		WHO ARE WE?
	</h3>

	<p class="t-center size32 m-l-r-auto">
		As Casalia Tiny Houses, we are excited to introduce you to the world of luxury, modern, and customizable concepts in the Tiny House realm. We take pride in creating not just a home, but the living space of your dreams, offering you a unique experience. Upholding our quality standards, we strive to minimize environmental impact and act with a sense of responsibility to leave a clean environment for future generations. Constantly working towards pioneering a future shaped by principles of innovation, quality, and sustainability, we aim to provide a balanced experience between aesthetics, functionality, and environmental responsibility in each of our projects.
	</p>
</section>


<!-- Video -->
<section class="section-video parallax100" style="background-image: url('../Content/images/header-menu-01.jpg');">
	<div class="content-video t-center p-t-225 p-b-250">


		<h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
			Our Promotional Video
		</h3>

		<div class="btn-play ab-center size16 hov-pointer m-l-r-auto m-t-43 m-b-33" data-toggle="modal" data-target="#modal-video-01">
			<div class="flex-c-m sizefull bo-cir bgwhite color1 hov1 trans-0-4">
				<i class="fa fa-play fs-18 m-l-2" aria-hidden="true"></i>
			</div>
		</div>
	</div>
</section>


<!-- Lunch -->
<section class="section-lunch bgwhite">

	<div class="container">
		<div class="row p-t-108 p-b-70">

			<div class="col-md-3 blo-3 m-b-15">
				<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
					<a href="#"><img src="../Content/images/icons/enerji-tasarruf.svg" alt="IMG-MENU"></a>
				</div>

				<div class="text-blo3 size12 flex-col-l-m">
					<a href="#" class="txt21 m-b-1">
						Energy Conservation
					</a>


				</div>
			</div>

			<!-- Block3 -->
			<div class="col-md-3 blo-3 m-b-15">
				<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
					<a href="#"><img src="../Content/images/icons/mobil-yasam.svg" alt="IMG-MENU"></a>
				</div>

				<div class="text-blo3 size12 flex-col-l-m">
					<a href="#" class="txt21 m-b-1">
						Mobile Living
					</a>


				</div>
			</div>

			<div class="col-md-3 blo-3 m-b-15">
				<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
					<a href="#"><img src="../Content/images/icons/cevre-dostu.svg" alt="IMG-MENU"></a>
				</div>

				<div class="text-blo3 size12 flex-col-l-m">
					<a href="#" class="txt21 m-b-1">
						Eco-Friendly
					</a>

				</div>
			</div>

			<div class="col-md-3 blo-3 m-b-15">
				<div class="pic-blo3 size20 bo-rad-10 hov-img-zoom m-r-28">
					<a href="#"><img src="../Content/images/icons/kisisel-tasarim.svg" alt="IMG-MENU"></a>
				</div>

				<div class="text-blo3 size12 flex-col-l-m">
					<a href="#" class="txt21 m-b-1">
						Customizable Design
					</a>


				</div>
			</div>

		</div>
	</div>
</section>




<section class="section-event">
	<div class="wrap-slick2">
		<div class="slick2">
			<div class="item-slick2 item1-slick2" style="background-image: url('../Content/images/bg-event-01.webp');">
				<div class="wrap-content-slide2 p-t-115 p-b-208">
					<div class="container">
						<!-- - -->
						<div class="title-event t-center m-b-52">
							<h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
								Why Us?
							</h3>
						</div>

						<!-- Block2 -->
						<div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="zoomIn">
							<!-- Pic block2 -->
							<a href="#" class="wrap-pic-blo2 bg1-blo2" style="background-image: url('../Content/images/event-02.webp');">
								<div class="time-event size10 txt6 effect1">
								</div>
							</a>

							<!-- Text block2 -->
							<div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
								<h4 class="tit7 t-center m-b-10">
									Harmony with Nature, a Free and Comfortable Life.
								</h4>

								<p class="t-center">
									We aim to provide you with the comfort of your home in close connection with nature, even in small spaces. With beautiful interior designs and innovative models, we simplify your home by planning minimal spaces in the most functional way. We offer you a simplified villa life not only during summer vacations but also when you desire to spend a beautiful weekend with your family after a busy work schedule. 
								</p>


							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick2 item2-slick2" style="background-image: url('../Content/images/bg-event-01.webp');">
				<div class="wrap-content-slide2 p-t-115 p-b-208">
					<div class="container">
						<!-- - -->
						<div class="title-event t-center m-b-52">
							<h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
								Why Us?
							</h3>
						</div>

						<!-- Block2 -->
						<div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="zoomIn">
							<!-- Pic block2 -->
							<a href="#" class="wrap-pic-blo2 bg2-blo2" style="background-image: url('../Content/images/event-06.webp');">
								<div class="time-event size10 txt6 effect1">
								</div>
							</a>

							<!-- Text block2 -->
							<div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
								<h4 class="tit7 t-center m-b-10">
									Mobile, Affordable, and Sustainable Homes
								</h4>

								<p class="t-center">
									We offer homes that do not restrict your freedom, are budget-friendly, and harmonize with nature. The privilege of living all four seasons with wheeled models creates a unique opportunity for you to fully experience the natural beauties of Turkey. Open the doors to an unlimited life with Casalia Tiny Houses.
								</p>


							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick2 item3-slick2" style="background-image: url('../Content/images/bg-event-01.webp');">
				<div class="wrap-content-slide2 p-t-115 p-b-208">
					<div class="container">
						<!-- - -->
						<div class="title-event t-center m-b-52">
							<h3 class="tit6 t-center p-l-15 p-r-15 p-t-3">
								Why Us?
							</h3>
						</div>
						<!-- Block2 -->
						<div class="blo2 flex-w flex-str flex-col-c-m-lg animated visible-false" data-appear="zoomIn">
							<!-- Pic block2 -->
							<a href="#" class="wrap-pic-blo2 bg3-blo2" style="background-image: url('../Content/images/event-01.webp');">
								<div class="time-event size10 txt6 effect1">
								</div>
							</a>

							<!-- Text block2 -->
							<div class="wrap-text-blo2 flex-col-c-m p-l-40 p-r-40 p-t-45 p-b-30">
								<h4 class="tit7 t-center m-b-10">
									Quality, Safe, and Guaranteed Homes
								</h4>

								<p class="t-center">
									We specialize in crafting fantastic wheeled tiny homes for those who aspire to live with big dreams in a small house. Casalia Tiny Houses sets itself apart in the industry with creative, free, and innovative designs. Designed by skilled architects under the supervision of expert engineers, let's collaborate with Casalia Tiny Houses to create the Tiny House plan of your dreams.
								</p>


							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="wrap-slick2-dots"></div>
	</div>
</section>


<!-- Our menu -->
<section class="section-ourmenu bg2-pattern p-t-115 p-b-120">
	<div class="container">
		<div class="title-section-ourmenu t-center m-b-22">
			<span class="tit2 t-center">
				Discover
			</span>

			<h3 class="tit5 t-center m-t-2">
				Our Menu
			</h3>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-sm-6">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-01.jpg" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size4">
								Lunch
							</a>
						</div>
					</div>

					<div class="col-sm-6">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-05.jpg" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size5">
								Dinner
							</a>
						</div>
					</div>

					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-13.jpg" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size6">
								Happy Hour
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-08.jpg" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size7">
								Drink
							</a>
						</div>
					</div>

					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-10.jpg" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size8">
								Starters
							</a>
						</div>
					</div>

					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-16.jpg" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size9">
								Dessert
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>



<section class="section-ourmenu bg2-pattern p-t-115 p-b-120">
	<div class="container">
		<div class="title-section-ourmenu t-center m-b-22">
			<span class="tit2 t-center">

			</span>

			<h3 class="tit5 t-center m-t-2">
				Gallery
			</h3>
		</div>

		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-sm-6">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-01.webp" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size4 invisible">

							</a>
						</div>
					</div>

					<div class="col-sm-6">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-05.webp" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size5 invisible">

							</a>
						</div>
					</div>

					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-13.webp" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size6 invisible">

							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="row">
					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-08.webp" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size7 invisible">

							</a>
						</div>
					</div>

					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-10.webp" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size8">

							</a>
						</div>
					</div>

					<div class="col-12">
						<!-- Item our menu -->
						<div class="item-ourmenu bo-rad-10 hov-img-zoom pos-relative m-t-30">
							<img src="../Content/images/our-menu-16.webp" alt="IMG-MENU">

							<!-- Button2 -->
							<a href="#" class="btn2 flex-c-m txt5 ab-c-m size9 invisible">

							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>